<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/carousel.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">

    <script src="/js/home.js" defer></script>
    <title>웹툰 가이드</title>
</head>
<body>
<div class="navbar">
    <div class="navbar-left">
        <a href="/" class="nav-button">웹툰가이드</a>
    </div>
    <div class="navbar-right">
        <a href="/signin" th:if="${session.accessToken == null}" class="nav-button">로그인</a>
        <form th:if="${session.accessToken != null}" th:action="@{/signout}" method="post" style="display:inline;">
            <button type="submit" class="nav-button">로그아웃</button>
        </form>
        <span th:if="${session.accessToken != null}" class="separator"></span>
        <a th:if="${session.accessToken != null}" href="/mypage" class="nav-button">마이페이지</a>
        <span class="separator"></span>
        <a href="/webtoon-list" class="nav-button">웹툰 리스트</a>
        <span th:if="${session.accessToken != null}" class="separator"></span>
        <a th:if="${session.accessToken != null}" href="/webtoon-recommend" class="nav-button">웹툰 추천</a>
    </div>
</div>
<div class="carousel">
    <div class="carousel-inner" id="carousel-inner">
        <!-- Images will be dynamically added here -->
    </div>
    <a class="carousel-control-prev" href="#" id="carousel-control-prev" role="button">&lt;</a>
    <a class="carousel-control-next" href="#" id="carousel-control-next" role="button">&gt;</a>
    <div class="carousel-indicators" id="carousel-indicators">
        <!-- Indicators will be dynamically added here -->
    </div>
</div>
<div class="webtoon-section">
    <div class="section-header">
        <h2>신작 웹툰</h2>
        <div class="section-divider"></div>
        <button class="more-button">더보기</button>
    </div>
    <div class="webtoon-list" id="new-webtoons-wrapper">
        <div class="webtoon-list-inner" id="new-webtoons">
            <div class="webtoon-item" style="width: 120px; height: 160px;">
                <div class="webtoon-image-placeholder" style="background-color: black; width: 100%; height: 100%;">
                    <div class="webtoon-title" style="color: white; padding: 5px;">신작 웹툰 테스트 제목 1</div>
                </div>
            </div>
            <div class="webtoon-item" style="width: 120px; height: 160px;">
                <div class="webtoon-image-placeholder" style="background-color: black; width: 100%; height: 100%;">
                    <div class="webtoon-title" style="color: white; padding: 5px;">신작 웹툰 테스트 제목 2</div>
                </div>
            </div>
            <div class="webtoon-item" style="width: 120px; height: 160px;">
                <div class="webtoon-image-placeholder" style="background-color: black; width: 100%; height: 100%;">
                    <div class="webtoon-title" style="color: white; padding: 5px;">신작 웹툰 테스트 제목 3</div>
                </div>
            </div>
            <div class="webtoon-item" style="width: 120px; height: 160px;">
                <div class="webtoon-image-placeholder" style="background-color: black; width: 100%; height: 100%;">
                    <div class="webtoon-title" style="color: white; padding: 5px;">신작 웹툰 테스트 제목 4</div>
                </div>
            </div>
            <div class="webtoon-item" style="width: 120px; height: 160px;">
                <div class="webtoon-image-placeholder" style="background-color: black; width: 100%; height: 100%;">
                    <div class="webtoon-title" style="color: white; padding: 5px;">신작 웹툰 테스트 제목 5</div>
                </div>
            </div>
            <div class="webtoon-item" style="width: 120px; height: 160px;">
                <div class="webtoon-image-placeholder" style="background-color: black; width: 100%; height: 100%;">
                    <div class="webtoon-title" style="color: white; padding: 5px;">신작 웹툰 테스트 제목 6</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="webtoon-section">
    <div class="section-header">
        <h2>인기 웹툰</h2>
        <div class="section-divider"></div>
        <button class="more-button">더보기</button>
    </div>
    <div class="webtoon-list" id="popular-webtoons">
        <div class="webtoon-item" style="width: 120px; height: 160px;">
            <div class="webtoon-image-placeholder" style="background-color: black; width: 100%; height: 100%;">
                <div class="webtoon-title" style="color: white; padding: 5px;">인기 웹툰 테스트 제목 1</div>
            </div>
        </div>
    </div>
</div>
<div class="links-section">
    <div class="section-header">
        <h2>웹툰 사이트 링크</h2>
        <div class="section-divider"></div>
    </div>
    <div class="webtoon-links">
        <div class="webtoon-link-item">
            <button onclick="window.open('https://comic.naver.com', '_blank')" class="naver-button">네이버 웹툰</button>
        </div>
        <div class="webtoon-link-item">
            <button onclick="window.open('https://page.kakao.com', '_blank')" class="kakao-page-button">카카오페이지</button>
        </div>
        <div class="webtoon-link-item">
            <button onclick="window.open('https://webtoon.kakao.com', '_blank')" class="kakao-webtoon-button">카카오 웹툰</button>
        </div>
    </div>
</div>
</body>
</html>
