<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>웹툰 가이드 - 모든 사이트의 웹툰을 찾아서</title>
</head>
<body>
<div class="navbar">
    <div class="navbar-left">
        <a href="/" class="nav-button">웹툰가이드</a>
    </div>
    <div class="navbar-right">
        <a href="/signin" th:if="${session.accessToken == null}" class="nav-button">로그인</a>
        <form th:if="${session.accessToken != null}" th:action="@{/signout}" method="post" style="display:inline;">
            <button type="submit" class="nav-button">로그아웃</button>
        </form>
        <span th:if="${session.accessToken != null}" class="separator"></span>
        <a th:if="${session.accessToken != null}" href="/mypage" class="nav-button">마이페이지</a>
        <span class="separator"></span>
        <a href="/webtoon-list" class="nav-button">웹툰 리스트</a>
        <span th:if="${session.accessToken != null}" class="separator"></span>
        <a th:if="${session.accessToken != null}" href="/webtoon-recommend" class="nav-button">웹툰 추천</a>
    </div>
</div>
</body>
</html>